.navWrapper {
  height: 48px;
  width: 380px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  margin-top: 5px;
  
}

.navWrapper > div {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #6fb3b8; 
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0 8px;
}
.navWrapper > div:hover {
  background-color: #388087 ;
}
a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

a > p {
  font-size: 90%;
}