.viewExpensesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}




.deleteToggleWrapper {
  position: relative;
  margin: 0 50px;
  padding: 5px;
  background-color: red;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.buttonWrapper {
  position: relative;
  margin: 0 50px;
  padding: 5px;
  background-color:  #4CAF50;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.buttonWrapper:hover {
  background-color: red;
}