.CEWrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.CEFormWrapper {
  height: 50%;
  width: 30%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}


.form {
  height: 80%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  
}


.labelWrapper {
  margin: 10px 0;
}

.labelWrapper > label {
  left: 20px;
}

.submitBtn {
  margin-top: 30px;
  background-color: #4CAF50; /* Green */
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
  padding: 5px;
}
.submitBtn:hover {
  background-color: rgb(42, 161, 42);
}
.submitBtn:active {
  background-color: rgb(49, 187, 49);

}